<div class="container" id="home-container">
<h1>Bookings List</h1>    
<table class="table">
  <thead>
    <tr>
      <th scope="col">Table Num</th>
      <th scope="col">User</th>
      <th scope="col">User email</th>
      <th scope="col">Start Time</th>
      <th scope="col">Finish Time</th>
      <th scope="col">Duration</th>
    </tr>
  </thead>
  <tbody>
  <% @bookings.each do |booking| %>
    <tr>
      <th scope="row">1</th>
      <td><%= booking.user.name %></td>
      <td><%= booking.user.email %></td>
      <td><%= booking.start_time.strftime("%d/%m/%Y %R") %></td>
      <td><%= booking.end_time.strftime("%d/%m/%Y %R") %></td>
      <td><%= booking.duration %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>