<h1 class="text-center mt-4">Book a Table</h1>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10">
            <%= render 'shared/errors', obj: @booking %>
            <%= form_with(model: @booking,class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>

                <div class="form-group row">
                    <%= f.label :table_no, class: "col-4 col-form-label text-light" %><br/>
                    <div class="col-8">
                        <%= f.number_field :table_no, class: "form-control shadow rounded", value: 1, disabled: true %>
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label "Start Time (DD/MM/YYYY HH:MM)", class: "col-4 col-form-label text-light" %><br/>
                    <div class="col-8">
                        <%= f.datetime_field :start_time, class: "form-control shadow rounded" %>
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label "Duration (in Minutes)", class: "col-4 col-form-label text-light" %><br/>
                    <div class="col-8">
                        <%= f.number_field :duration, class: "form-control shadow rounded", min:10, max: 60%>
                    </div>
                </div>

                <div class="form-group row justify-content-center">
                    <%= f.submit class: "btn btn-outline-light" %>
                </div>

            <% end %>
        </div>
    </div>
</div>