<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Ping Pong Booking", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      
      <li class="nav-item">
        <%= link_to "New Booking", new_booking_path, class: "nav-link" %>
      </li>

      <% if logged_in? %>
      <li class="nav-item mr-auto">
      <%= link_to "#{current_user.name} Log out", logout_path, class: "nav-link", method: :delete %>
      </li>
      <% else %>
      <li class="nav-item">
        <%= link_to "Sign in", login_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign up", signup_path, class: "nav-link" %>
      </li>
      <% end %>
      
      
    </ul>
  </div>
</nav>